.all_items{
	padding:32px;
	margin-top: 52px;
}
.container{
	margin:0 !important;
}
.row {
	margin: 0px!important;
	padding: 0px;
}

.div{
	margin:0;
}

.card{
	height: auto !important; 
	width: 100% !important;
	margin: 0px;
	padding: 0px;
}

#create_post{
	width: auto;
	height:auto;
	padding: 32px 32px 12px 32px;
	/*margin-bottom: 12px;*/
	position: relative;
}

#under_input{
	/*vertical-align: baseline;*/
	vertical-align: center;
	margin:0px;
	/*align-content: center;*/
	display: inline;
}

#post_topic{
	display: inline;
	/*background-color: yellow;*/
}

#drop_category{
	margin-left: 18px;
	display: inline;
	/*background-color:red;*/
}

.redirect{
	z-index: 20;
}
#right_side{
	height: auto;
}

.sticky_item{
	position:-webkit-sticky; 
	position:sticky; 
	top:32px;
	/*margin-top:60px;*/
}

#create_button{
	/*align-items:center;*/
	display: inline-block;
	margin-left: 0px;
	float:right;
	/*background-color: green;*/
}

#user_input{
	padding: 16px 24px 16px 24px;
	border-radius: 10px;
	font-size: 16px;
	width:100%;
	resize: none;
}

.topic_names{
	display: inline-block;
	color: #6B6B6B;
	font-size: 16px;
	font-weight: 400;
	margin: 0px;
	/*display: inline-block;*/
}

#topic_input{
	padding: 16px 24px;
	border-radius: 10px;
	font-size: 16px;
	width:100%;
	height:48px;
	resize: none;
	margin-bottom: 8px;
}

.container{
	margin-top: 32px;
}

#categories{
	width: 245px;
	height:50%;
	padding: 32px;
	height: auto;
	position: absolute;
}

#categories ul li{
 	margin: 0px 0px 24px;
}

#categories ul li:last-child {
 	margin: 0;
}

.default_primary{
	float:right;
	margin: 0 !important;
}

.post_card{
	margin: 20px 0px 20px;
	/*padding: 32px;*/
	width: 100%;
}

/*Important to note you need to envelop the label inside the div*/
.field_set{
	min-width: 20px;
	display: inline-block;
}

.disc_topic{
	display: block;
	margin: 8px 0px 12px 0px;
}

.comment {
	margin-top: 20px;
	height: auto;
	/*width: 100%;*/
}
.comment-info {
	height: auto;
	padding: 32px 32px 20px 32px;
	margin: 0;
}

.user-info{
	height: auto;
	width: 100%;
    margin: 0px;
    background-color: #D0EBFF;
}

textarea{
	border-color: #CED4DA;
}

.container {
    padding-left: 0;
}

.go_more {
	font-size: 16px;
	font-weight: 700;
	text-decoration: underline;
	color: #1971C2;
	/*margin: 22px 32px 16px;	*/
	padding-top: 23px;
	/*float: right;*/
	display: flex;
	margin: 0;
	height:auto;
	/*justify-content: right;*/
	align-items: right;
	/*padding-left: 40%;*/
	/*width: 35%;*/
	padding-left: 48%;
}

.user-circle {
	height: 32px;
    width: 32px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 16px 7px 16px 32px;
}

a{
	margin: 0;
	/*height: auto;*/
}

span{
	height: auto;
}

.username{
	text-transform: uppercase;
	display: inline-block;
    margin: 23px 0px 0px 0px;

    /*margin:0;*/
    /*margin-right: 16px;*/
    color: #1971C2;
    font-weight: 700;
}

.vertical-line{
	/*display:inline-block;*/
	border-left: 1px solid #979797;
    height: auto;
    /*width: 10;*/
    opacity: 60%;
    margin: 17px 16px 17px 16px;
    z-index: 10;
    /*margin: 0px 16px;*/
}

.icon{
	/*margin: 23px 16px 0px 16px;*/
	margin-top: 25px;
    color: #1971C2;
    font-weight: 900;
}

.icon-comment-alt::before{
	width: 20px !important;
	height: 20px !important;
	-webkit-text-stroke: 0.75px #1971C2;
	/*margin: 0px !important;*/
}

.icon-like{
	width: 20px;
	height: 20px;
	-webkit-text-stroke: 1px #1971C2;
}

.like-number {
    color: #1971C2;
    font-weight: 700;
    margin: 23px 9px 0px 9px;
}

.comment-number{
	color: #1971C2;
    font-weight: 700;
    margin: 23px 9px 0px 9px;
}

ul.list-unstyled {
	margin:0;
	/*padding: 32px;*/
	width: auto;
}

.user{
	height: 32px;
	width: 32px;
}

.disc_content{
	/*margin-bottom: 24px;*/
	margin: 0px;
}

#tag_name{
	margin:0;
	margin-bottom: 12px;
}

#forum_title{
	margin:0;
	margin-bottom: 24px;
}

.tag{
	margin: 0;
	display: inline-block;
	height: 35px;
}

.hyperlinks{
	font-size: 16px;
	color: #868E96;
	text-transform: uppercase;
	font-weight: 500px;
}

.hyperlinks:hover{
	font-size: 16px;
	color: #1971C2;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 700px;
}

.hyperlinks:active{
	font-size: 16px;
	color: #1971C2;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 700px;
}

div{
	margin:0;
}

/*.topic{
  width: 200px;
  overflow: hidden;
  border: 1px solid #000;
  position: relative;
  padding: 10px 0;
}*/

select{
	padding:16px 24px;
	border-radius: 8px;
	border-color: #CED4DA;
}

#empty_posts{
	margin-top:32px;
	text-align: center;
	color: #868E96;
}

.icon-menu{
	margin-top:20px;
	vertical-align: center;
}

/*.options{
	
}*/

/*For sidebar*/
#logo{
	margin-bottom:40px;
}

.col-md-1{
	align-te
}
/*li.options:first-child{
	background-color: blue;
	text-align: left;
	margin-top:100px;
}*/


.sidebar ul li:nth-of-type(2) {
	/*background-color:yellow;*/
	margin-top: 40px;
	align-text:left;
}