.title {
    padding-top: 15px;
    text-align: left;
    display: flex;
    justify-content: left;
    break-inside: always;
}


form {
    padding-top: 15px;
    margin: 0;
    background-color: white;
    border-radius: 10px;
}

h1 {
    margin-left: 0;
}

h2 {
	font-weight: bold;
    margin-left: 0;
}

h3 {
	font-weight: bold;
	margin-left: 0;
}

h5 {
	margin-left: 0;
}

#overall {
	align-content: center;
	margin-top: 0
}

.primary {
	/*margin: 10px;*/
	border:none;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	padding: 16px 42px 16px 42px;
	background-color: #4DABF7;
	/*margin: 10px;*/
}

.primary:hover{
	background-color: #1971C2;
}

.cards{
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 4px #CED4DA;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
}

.cards2{
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 4px #CED4DA;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
	padding: 32 32 32 32;
}

.paddings{
	padding: 32 32 32 32;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
}

.lowbar {
	background-color: #D0EBFF;
	height: 50;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
	padding: 16 32 16 32;	
	color: #1971C2;
	font-weight: bold;
}

.bluecards {
	background-color: #D0EBFF;
	margin: 0;
	padding: 16 32 10 32;
	border-radius: 10px;
	box-shadow: 2px 4px #CED4DA;
}
