
 .title {
    padding-top: 15px;
    text-align: left;
    display: flex;
    justify-content: left;
}

form {
    padding-top: 15px;
    background-color: white;
    border-radius: 10px;
}

h1 {
    margin-left: 0;
}

.button {
    display: flex;
    justify-content: right;
}

.no-result {
    text-align: center;
}

.card {
    height:300px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.card-image {
    background-color: #868E96;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: auto;
    height: 50%;
    margin: 0;
}

