
 .title {
    padding-top: 15px;
    text-align: left;
    display: flex;
    justify-content: left;
}

form {
    padding-top: 15px;
    background-color: white;
    border-radius: 10px;
}

h1 {
    margin-left: 0;
}

/* .add-btn {
    display: inline;
} */
.add-place-btn {
    margin: 0px 0px 0px 15%;
}
.button {
    display: flex;
    justify-content: right;
    padding: 0px;
    margin-right: 0px;
}

.no-result {
    text-align: center;
}

.card {
    height:300px;
    margin: 0 32px;
    text-align: left;
    padding: 0;
    width: 20%;
    float: left;
}

.card-image {
    background-color: #868E96;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: auto;
    height: 60%;
    margin: 0;
}

.card-content {
    height: auto;
    background-color: #D0EBFF;
    margin: 0px;
    display: flex;
    justify-content: left;
    min-height: 40%;
}

.default-primary {
    width: auto;
    display: inline-block;
    padding: 16px 16px;
}
.distance {
    display: flex;
    justify-content: left;
    margin-left: 4px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 8px;
}

.form-group {
    margin-top: 16px;
}

h3 {
    font-weight: 900;
}
.icon-star {
    margin: 0px 2px;
}
.input_default {
    padding: 8px 16px;
}

#restaurant-cards {
    margin: 0px 0px 32px 0px;
    display: inline-block;
    /* padding-left: 32px; */
    width: 100%;
}

.rest-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.restaurant-name {
    text-transform: uppercase;
    font-weight: 900;
    margin: 16px 32px;
    width: auto;
}

.rest-card {
    cursor: pointer;
}

.row {
    margin: 0px;
    width: 100%
}
.search-bar {
    margin-top: 0px;
    /* height: 3 */
}

.spinner {
    position: fixed;
    z-index: 99999999999;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: rgba(128, 128, 128, 0.404);
}

.spinner-border {
    position: relative;
    left: 45%;
    top: 35%;
    margin: 0px;
    color: #1971C2;
    opacity: 100%;
}

.ui-autocomplete div {
    margin: 0px;
}

.wrapper {
    margin-top: 5%!important;
}