
.back {
    color: #1971C2;
    text-decoration: underline;
}

.left-content {
    float: left;
    overflow: auto;
    width: 75%;
    margin-left: 0px;
    margin-right: 0px;
}

.right-content {
    height: 100%; 
    width: 20%;
    position: fixed; 
    z-index: 1;
    right: 0;
}

.card {
    margin: 0px;
    width: 100%;
    height: 350px;
}

.close-txt {
    margin: 15% 29%;
    text-transform: uppercase;
    color: white;
}
.comment {
    margin-top: 32px;
    height: auto;
}

.comment-category {
    text-transform: uppercase;
}
.comment-detail {
    text-align: right;
    width: auto;
    margin-right: 0px;
}
.comment-info {
    height: auto;
    /* background-color:violet; */
    margin: 0px;
}

.comment-input {
    padding: 0px 2rem;
}

#comment-list{
    margin:0px;
}

.comment-star {
    margin-left: 0px;
}
.container {
    padding-left: 0;
}

.cross {
    margin-left: 60%;
}

.error_alert {
    padding: 0.5rem 1rem;
}

.google-map-api {
    background-color: #868E96;
    height: 70%;
    margin-bottom: 0px;
    border-radius: 5px;
}

.icon {
    margin: 24px 16px 0px 16px;
    color: #1971C2;
    font-weight: 900;
}

.image {
    background-color: #868E96;
    height: 60%;
    width: 100%;
    display: inline-block;
    margin: 0px;
    border-radius: 5px;
}

.image-and-button {
    height: 100%;
    width: 20%;
    margin-right: 0px;
}

.info {
    height: auto;
    width: 100%;
    margin: 0px;
}

.input-comment {
    width: 100%;
    border-radius: 5px;
    border-width: thin;
    background-color: #E9ECEF;

    /* overflow: hidden; */
    /* box-sizing: border-box; */
}

.input_default {
    margin-top: 1rem;
}

.input-error {
    padding: 0px 2rem 1rem;
}
.input-rating {
    padding: 1rem 2rem;
}

.like-number {
    color: #1971C2;
    font-weight: 700;
    margin: 19px 16px 0px 0px;
}

.modal-backdrop {
    margin: 0px;
    opacity: 0%;
}

.modal-content div {
    margin: 0px;
}

.modal-header {
    border-bottom: transparent;
    justify-content: center;
}
.modal-footer {
    border-top: transparent;
    justify-content: center;
}

.modal-title {
    text-align: center;
    justify-content: center;
    font-weight: 900;
}
.overall {
    margin-bottom: 16px;
}

.post-btn {
    background-color: #4DABF7;
    height: 3rem;
    width: 6rem;
    border-radius: 5px;
    border-color: #979797;
}

.rate-button {
    background-color: #4DABF7;
    height: 20%;
    width: 100%;
    margin: 30px 0px 0px 0px;
    border-radius: 5px;
    padding-top: 3%;
    padding-right: 3%;
    text-align: center;
    color: white;
}

.rating-category {
    margin: 12px 20px 0px 0px;
    text-transform: uppercase;
}
.rating-star {
    font-size: 2em;
}

.rating-star span {
    margin: 15px 5px 0px 0px;
}

.rating-info {
    display: inline-block;
    height: 100%;
    padding-left: 0px;
}

.rating {
    height: auto;
    width: 100%;
    margin: 0px;
}

.rest-name {
    margin-left: 2rem;
    font-weight: 900;
}

.restaurant-name {
    text-transform: uppercase;
}

.search-route-btn {
    background-color: #4DABF7;
    height: 15%;
    border-radius: 5px;
    text-align: center;
    padding: 5%;
    color: white;
}

.success_alert {
    width: 100%;
    margin: 0px;
}
#success-msg {
    margin: 32px 0px 16px 0px;
}
.success-msg {
    width: 45
}

.user-circle {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 12px 12px 12px 32px;
}
.user-info {
    height: auto;
    margin: 0px;
    background-color: #D0EBFF;
}

.username {
    display: inline-block;
    margin-top: 20px;
    margin-right: 32px;
    color: #1971C2;
    font-weight: 700;
}

.vertical-line {
    border-left:1px solid #979797;
    height: auto;
    opacity: 60%;
    margin: 10px 0px 10px 0px;
    z-index: 10;
}

hr {
    border: 1px solid #6B6B6B;
    border-radius: 1px;
    margin: 12px 0px;
}

p {
    margin: 0px 5px 10px 0px;
}

.info-attr {
    font-weight: bold;
}
