a{
  margin-left: 0;
}

.addList{
  position: absolute;
  top: 169px;
  left: 70%;
}

#addRouteButton{
  padding: 12px 42px 12px 42px;
  font-size: 14px;
  margin: 0;
  display: inline-block;
}

#arrow-logo{
  position: absolute;
  top: 134px;
  left: 88%;
  margin: 0;
}

.chevron-icon{
  z-index: 9999;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 88%;
  bottom: 12px;
  margin: 0;
}

.container{
  margin: 0;
  height: auto;
  width: 100%;
}

.container-fluid {
  margin: 0;
}

.description-list{
  font-size: 16px;
  margin: 0 0 5px 20px;
  padding-left: 8px;
  list-style-type: decimal;
  list-style-position: outside;
  display: list-item;
}

.from-place{
  margin: 0 0 28px 0;
  width: auto;
}

#fromPlace, #toPlace{
  font-size: 16px;
}

#gmaps{
  border-radius: 10px;
  margin-top: 0;
  margin-left: 32px;
  box-shadow: 2px 4px #CED4DA;
  border-width: 2px;
  border-color: #CED4DA;
}

h2{
  margin-left: 0;
}

h3{
  margin-left: 0;
}

h4{
  margin-left: 0;
}

#heart-number{
  margin: 0 8px 0 0;
  color: #4DABF7;
  font-size: 20px;
}

#heart-this{
  position: absolute;
  top: 32px;
  right: 32px;
  font-size: 32px;
  color: #4DABF7;
}

html{
  margin: 0;
}

.icon-ramp{
  font-size: 30px;
}

#icon-ramp{
  position: absolute;
  top: 12px;
  left: 66px;
  margin: 0;
}

.icon-elevator{
  font-size: 24px;
}

#icon-elevator{
  position: absolute;
  top: 12px;
  left: 66px;
  margin: 0;
  margin-left: 12%;
}

.icon-wheelchair{
  font-size: 30px;
}

#icon-wheelchair{
  position: absolute;
  top: 12px;
  left: 66px;
  margin: 0;
  margin-left: 22%;
}

.individual-created-by{
  position: relative;
}

.individual-likes{
  margin-top: 8px;
  position: relative;
}

.individual-description, .individual-landmarks, #individual-pictures{
  margin-top: 0;
}

label{
  margin: 0;
  font-weight: bold;
}

.route-contents-list{
  margin: 0 0 5px 40px;
  font-size: 14px;
  padding-left: 8px;
  list-style-type: decimal;
  list-style-position: outside;
  display: list-item;
}

.my-list-item{
  font-size: 16px;
  list-style-type: none;
  margin-bottom: 20px;
  margin-left: 0;
  padding-left: 0;
}

#my-list-last{
  margin: 0;
}

#no_result{
  position: absolute;
  top: 340px;
  left: 65%;
}

.number-of-likes{
  margin: 0;
  color: #4DABF7;
  position: absolute;
  top: 2px;
}

ol{
  margin: 0;
  overflow-wrap: break-word;
}

p{
  margin:0;
}

.place-picture{
  height: 156px;
  margin: 12px 4px 0 0;
  display: inline-block;
}

.route-buttons{
  width: auto;
  margin: 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 10px;
}

.route-card{
  width: 24.167%;
  height: 480px;
  z-index: -10;
  position: absolute;
  overflow: hidden;
}

.route-card-blue{
  width: 100%;
  height: 48px;
  border-radius: 0 0 10px 10px;
  background-color: #D0EBFF;
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
}

.route-card-contents{
  width: 80%;
  height: 108px;
  margin: 32px 0 0 28px;
  overflow: hidden;
}

.route-card-icons{
  position: absolute;
  width: 100%;
  margin: 0;
  min-height: 48px;
  bottom: 48px;
  background-color: white;
}

.route-card-image{
  width: 100%;
  height:200px;
  border-radius: 10px 10px 0 0;
  background-color: #D8D8D8;
  margin: 0;
}

.route-card-individual{
  width: 72%;
  height: auto;
}

.route-likes{
  margin-top: 0px;
  position: absolute;
  margin: 0;
  width: auto;
  right: 64px;
  top: 5px;
}

.route-card-title{
  margin: 16px 0 0 16px;
}

.route-form{
  width: 36%;
  height: auto;
  padding: 32px;
}

#routes-index-main{
  margin-top: 88px;
  margin-left: 12px;
  height: 0;
}

#routes-individual-main{
  margin-top: 140px;
}

.route-list{
  position: absolute;
  width: 24.44%;
  height: auto;
  top: 206px;
  left: 70%;
}

.route-list-lists{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.route-my-List{
  position: absolute;
  top: 32px;
}

#route-number-likes{
  display: inline-block;
  min-width: 52px;
}

#searchRouteButton{
  padding: 12px 32px 12px 32px;
  font-size: 14px;
  margin: 0;
  display: inline-block;
}

.to-place{
  margin: 0 0 32px 0;
  width: auto;
}

.username{
  display: inline-block;
  margin: 0 0 0 10px;
  color: #6B6B6B;
  position: absolute;
  top: 5px;
}

#username-index{
  margin-left: 36px;
  font-size: 14px;
}

#username-individual{
  left: 16%;
}

.username-circle{
  background-color: #6B6B6B;
  width: 28px;
  height: 28px;
  border-radius: 25px;
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 0;
}

#username-circle-individual{
  width: 32px;
  height: 32px;
  left: 12%;
}

.username-created{
  display: inline-block;
  position: absolute;
  left: 0;
  top: 5px;
}

.username-group{
  margin: 0 0 0 16px;
  position: relative;
  height: auto;
}
