.noIndent {
	margin: 0;
}

div:not(.outside_sidebar):not(.sidebar) {
	background-color: #F1F3F5;
	opacity: 50%;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

.outside_sidebar {
	display: flex;
	position: absolute;
	margin: 0;
	z-index: 100;
}

.outside_sidebar .sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	width: 20%;
	background: #ffffff;
	margin: 0;
}

.options:hover {
	background: #A5D8FF;
}

.outside_sidebar .sidebar ul li {
	padding: 15px;
	font-size: 20;
	margin-top: 0;
	cursor: pointer;
}

span {
	font-size: 20;
	/*margin-top: 0;*/
}

.outside_sidebar .sidebar ul p {
	padding: 15px;
	font-size: 20;
	margin-top: 0;
	position: absolute;
	bottom: 0;
	color: #6b6b6b;
}