.noIndent {
	margin: 0;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

.outside_topbar {
	display: flex;
	position: relative;
	margin: 0;
	z-index: 1;
}

.outside_topbar .topbar {
	position: fixed;
	width: 100%;
	height: 70px;
	background: #ffffff;
	margin: 0;
}

.text {
	margin-top: 15;
	margin-left: 10;
	padding: 10px;
}

.icon-check:before {
	content: "\e9bd";
}

#logo {
	cursor: pointer;
	background-color: #eee;
}

#sideBarOpen {
	cursor: pointer;
}