.categories_card{
	width:100%;
}

.make_post_card{
	width:100%;
}

.all-items{
	margin-top: 56px;
}

.total_comments{
	margin-top:32px;
}

.each_post{
	margin-bottom:20px;
}

.categories_card{
	padding-top:32px;
	top:0;
	position: sticky;
}
/*
.topic_name{
	margin: 12px;
}
*/
.badge{
	padding: 8px;
	color: #28a745;
	text-transform: uppercase;
	background-color: rgba(40, 167, 69,0.15);
}