/*For Post Card (Nabila)*/
/*===========================================*/
.post_card{
	border-radius: 10px;
	border: none;
}

#user_comment_fill{
	border-radius: 10px;
}

.reply_amount{
	color: #74C0FC;
}

.like_amount{
	color: #74C0FC;
}

.poster_name{
	text-transform: uppercase;
	color: #343A40;
}

.asks{
	color: #868E96;
}

/*===========================================*/