body{
	background-color: #F1F4F7;
}

/*For Post Card (Nabila)*/
/*===========================================*/
.post_card{
	border-radius: 10px;
	border: none;
}

#user_comment_fill{
	border-radius: 10px;
}

.reply_amount{
	color: #74C0FC;
}

.like_amount{
	color: #74C0FC;
}

.poster_name{
	text-transform: uppercase;
	color: #343A40;
}

.asks{
	color: #868E96;
}

/*===========================================*/

.back-to-mainpage{
	text-transform: uppercase;
	text-decoration: underline;
	/*color: #1971C2;*/
}

/*For tags*/
/*===========================================*/
.category-tags{
	text-transform: uppercase;
	/*background-color: rgba(40,167,69,0.3);*/
	/*color:#28a745;*/
	background-color: #FCBA04;
	color:#1b1b1e;
}
/*===========================================*/

.comment_from_user{
	border-radius: 10px;
	border: none;
}

.username{
	text-transform: uppercase;
	color: #343A40;
}

.answered{
	color: #868E96;
	text-
}

.heart_button{
	border-
	filter: invert(44%) sepia(10%) saturate(3892%) hue-rotate(169deg) brightness(87%) contrast(105%);
}

.spinner {
    position: fixed;
    z-index: 99999999999;
    width: 100%;
    height: 100%;
    /* margin: 0px; */
    background-color: rgba(128, 128, 128, 0.8);
}

.spinner-border {
    position: relative;
    left: 50%;
    top: 35%;
    margin: 0px;
    color: #1971C2;
    opacity: 100%;
}
