.nav-item:hover {
	background: #A5D8FF;
}

.options {
	text-align: center; 
	color: rgba(0,0,0,0.8);
}

.options:hover {
	background: #A5D8FF;
	cursor: pointer;
}

.navbar-fixed-top {
	z-index: 1;
	width: 100%;
	background-color: #ffffff;
	position: fixed;
	box-shadow: 0px 0px 2px 2px #dcdcdc;
}

.active {
	font-weight: bold;
}

.wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 80px;
}

#sidebar {
    width: 100vw;
    padding: 100px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: rgba(70,70,70,0.8);
    color: #ffffff;
    display: none;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 0;
	background-color: #D0EBFF;
	color: rgba(0,0,0,0.8);
	font-weight: bold;
	box-shadow: 0px 0px 5px 5px #dcdcdc;
	border-radius: 10px;
	margin-left: 100px;
	margin-right: 100px;
}

.sidebar-content {
	padding: 50px;
	background-color: #fff;
	height: 50vh;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.sidebarClose {
	text-decoration: underline;
	color: #0000EE; 
	cursor: pointer;
}
