h1 h2 h3 h4 h5 h6 p{
	color:#1B1B1E;
}

.rest-card{
	border-radius: 10px;
}

.card-img-top{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.forum_section{
	background-color: lightgray;
}

.quote{
	background-color: red;
}

.advice_card{
	border-radius: 50px;
}

.our_buttons{
	border-radius: 10px;
}

.nav-link:hover{
	color: #a9bcd0;
}

.advice_card:hover {
	cursor: pointer;
}

.rest-card:hover {
	cursor: pointer;
}

.text-black{
	color:#1B1B1E;
}

.text-coal{
	color: #373F51;
}

.text-yellow{
	color: #fcba04;
}

.text-blue{
	color: #a9bcd0;
}

.text-grey{
	color: #d8dbe2;
}

.color-black{
	background-color:#1B1B1E;
}

.color-coal{
	background-color: #373F51;
}

.color-yellow{
	background-color: #fcba04!important;
}

.color-blue{
	background-color: #a9bcd0;
}

.color-grey{
	background-color: #d8dbe2;
}