h1 h2 h3 h4 h5 h6 p{
	color:#1B1B1E;
}

.all_items {
	background-color: #f1f4f7;
}

.rest-card{
	border-radius: 10px;
}

.card-img-top{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.advice_card{
	border-radius:10px;
}

.our_buttons{
	border-radius: 10px;
}

.advice_card:hover {
	cursor: pointer;
}

.rest-card:hover {
	cursor: pointer;
}

.ui-autocomplete.ui-widget {
 	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  	font-size: 1rem;
}

.ui-autocomplete {
  	position: absolute;
  	top: 100%;
  	left: 0;
  	z-index: 1000;
  	overflow-x: hidden;
  	display: none;
  	float: left;
  	min-width: 160px;
  	padding: 5px 0;
  	margin: 2px 0 0;
  	list-style: none;
  	text-align: left;
  	background-color: #ffffff;
  	border: 1px solid rgba(0, 0, 0, 0.15);
  	border-radius: 4px;
  	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  	background-clip: padding-box;
}

.ui-autocomplete > li > div {
	display: block;
  	padding: 3px 20px;
  	clear: both;
  	font-weight: normal;
  	line-height: 1.42857143;
  	color: #333333;
  	white-space: nowrap;
}

.text-black{
	color:#1B1B1E;
}

.text-coal{
	color: #373F51;
}

.text-yellow{
	color: #fcba04;
}

.text-blue{
	color: #a9bcd0;
}

.text-grey{
	color: #d8dbe2;
}

.color-black{
	background-color:#1B1B1E;
}

.color-coal{
	background-color: #373F51!important;
}

.color-yellow{
	background-color: #fcba04!important;
}

.color-blue{
	background-color: #a9bcd0;
}

.color-grey{
	background-color: #d8dbe2!important;
}