#no_result{
  position: absolute;
  top: 260px;
  left: 65%;
}

.route-card{
  width: 24.167%;
  height: 480px;
  position: absolute;
  overflow: hidden;
}

.routes-card{
  width: 35%;
}

.routes-input{
  width: 100%;
}
