.border-left {
    color: black;
}

.btn {
    text-transform: uppercase;
    background-color: #4DABF7;
    border: #4DABF7;
}

.category-title {
    font-weight: 400;
    text-transform: uppercase;
}

.card-footer {
	background-color: #D0EBFF;
	color: #1971C2;
	font-weight: bold;
}

.card-img-top {
    height: 170px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.likes-and-comment {
    color: #1971C2;
}
.page {
    background-color: #F1F3F5;
}

.rest-card {
    cursor: pointer;
}

.rstrnt-card {
    background-color: #D0EBFF;
}

.rstrnt-img {
    width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.rstrnt-name {
    text-transform: uppercase;
}

.search-container {
    background-color: white;
    border-radius: 10px;
}

.spinner {
    position: fixed;
    z-index: 99999999999;
    width: 100%;
    height: 100%;
    /* margin: 0px; */
    background-color: rgba(128, 128, 128, 0.8);
}

.spinner-border {
    position: relative;
    left: 50%;
    top: 35%;
    margin: 0px;
    color: #1971C2;
    opacity: 100%;
}

.username {
    text-transform: uppercase;
}

.title {
    text-transform: uppercase;
}

.tooltip-inner {
    white-space: pre-line;
}